@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! This is my first CD Azure ContainerApps Project</h1>

Welcome to continous deployment. It is wonderful, is it not?

<SurveyPrompt Title="How is Blazor working for you?" />
